<main>
    <div class="blog">
        <header class="blog__header">
            <div class="container">
                <h1>Articles</h1>
                <p class="desc">
                    Tutorials, technical articles, snippets, reference materials, and all development-related resources I've written. See <a href="">Notes</a> for everything else.
                </p>
            </div>
        </header>
        <section class="blog__content">
            <div class="container">
                <div class="search-bar">
                    <input placeholder="Begin typing to Search" type="text" name="search" class="input search-bar__input">
                    <img class="search-bar__icon" src="../assets/img/search.png" alt="search">
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="container">
                <div class="posts__header">
                    <h1>2022</h1>
                    
                </div>
                <ul class="posts__list">
                    <li class="posts__list-item"> <a href=""> <h2>Creating a Schema-Based Form System</h2> <div> <time>Jan 31</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>2021 into 2022 </h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit amet consectetur.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>React Architecture: How to Structure and Organize a React Application</h2> <div> <time>Jan 01</time> </div> </a></li>
                </ul>
                <div class="posts__header">
                    <h1>2021</h1>
                </div>
                <ul class="posts__list">
                    <li class="posts__list-item"> <a href=""> <h2>Creating a Schema-Based Form System</h2> <div> <time>Jan 31</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>2021 into 2022 </h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit amet consectetur.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>React Architecture: How to Structure and Organize a React Application</h2> <div> <time>Jan 01</time> </div> </a></li>
                </ul>
                <div class="posts__header">
                    <h1>2020</h1>
                </div>
                <ul class="posts__list">
                    <li class="posts__list-item"> <a href=""> <h2>Creating a Schema-Based Form System</h2> <div> <time>Jan 31</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>2021 into 2022 </h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit amet consectetur.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit.</h2> <div> <time>Jan 01</time> </div> </a></li>
                    <li class="posts__list-item"> <a href=""> <h2>React Architecture: How to Structure and Organize a React Application</h2> <div> <time>Jan 01</time> </div> </a></li>
                </ul>

                
            </div>
        </section>
    </div>


</main>
