<footer class="footer">
  <section>
    <nav>
      <span>Made by Vikram Ratnoo</span>
      <a href="#" target="_blank" rel="nopener norefferer">Newsletter</a>
      <a href="#" target="_blank" rel="nopener norefferer">RSS</a>
      <a href="#" target="_blank" rel="nopener norefferer">Patreon</a>
    </nav>
    <nav>
      <a href="#" target="_blank" title="Github" rel="noopener noreferrer">
        Eleventy
        <img src="/assets/img/11ty.jpg" alt="" />
      </a>
      <a href="#" target="_blank" title="Github" rel="noopener noreferrer">
        Github
        <img src="/assets/img/nav-4.png" alt="" />
      </a>
      <a href="#" target="_blank" title="Github" rel="noopener noreferrer">
        Twitter
        <img src="/assets/img/nav-5.png" alt="" />
      </a>
    </nav>
  </section>
</footer>
