<main class="main">
    <section class="hero">
        <div class="container">
            <div class="hero__wrapper">
                <div>
                    <h1>Hey, I am vikram</h1>
                    <p>I'm a software engineer in Rajasthan. I love building open-source <a href="">Projects</a> and writing about what I learn. This website is my digital garden—a compendium of the things I've learned and created over the years.</p>
                </div>
                <img src="../assets/img/avatar-big.JPG" alt="" class="hero__img">
            </div>
        </div>
    </section>
    <section class="post">
        <div class="container">
            <div class="posts__header">
                <h1>Latest Articles</h1>
                <a href="/blog">View all</a>
            </div>
            <ul class="posts__list">
                <li class="posts__list-item"><a href="">
                    <h2>Creating a Schema-Based Form System</h2>
                    <div>
                        <time>Jan 31</time>
                    </div>
                </a></li>
            </ul>
        </div>
    </section>
</main>