<main class="main">
    <section class="hero">
        <div class="container">
            <div class="hero__wrapper">
                <div>
                    <h1>Hey, I am vikram</h1>
                    <p>I am a web developer with experience in Reactjs, Express js, Python, Flask, Javascript and more. I am originally from Rajasthan, India and currently work as an Informatics Assistant for the Rajasthan government. I am passionate about creating dynamic and user-friendly websites and am constantly expanding my skills and knowledge in the field.</p>
                </div>
                <img src="../assets/img/avatar-big.JPG" alt="" class="hero__img">
            </div>
        </div>
    </section>
    <section class="posts">
        <div class="container">
            <div class="posts__header">
                <h1>Latest Articles</h1>
                <a href="/blog">View all</a>
            </div>
            <ul class="posts__list">
                <li class="posts__list-item"> <a href=""> <h2>Creating a Schema-Based Form System</h2> <div> <time>Jan 31</time> </div> </a></li>
                <li class="posts__list-item"> <a href=""> <h2>2021 into 2022 </h2> <div> <time>Jan 01</time> </div> </a></li>
                <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit amet consectetur.</h2> <div> <time>Jan 01</time> </div> </a></li>
                <li class="posts__list-item"> <a href=""> <h2>Lorem ipsum dolor sit.</h2> <div> <time>Jan 01</time> </div> </a></li>
                <li class="posts__list-item"> <a href=""> <h2>React Architecture: How to Structure and Organize a React Application</h2> <div> <time>Jan 01</time> </div> </a></li>
            </ul>
            <div class="posts__header">
                <h1>Highlights</h1>
                <a href="/blog">View all</a>
            </div>
            <ul class="posts__list">
                <li class="posts__list-item"> 
                    <a href="">
                        <span class="list-item__wrapper"><img src="../assets/img/tags 1.png" alt="">
                            <h2>Creating a Schema-Based Form System</h2>
                        </span>
                        <div> <time>Jan 31</time> </div>
                    </a>
                </li>
                <li class="posts__list-item"> 
                    <a href="">
                        <span class="list-item__wrapper"><img src="../assets/img/tags 1.png" alt="">
                            <h2>Creating a Schema-Based Form System</h2>
                        </span>
                        <div> <time>Jan 31</time> </div>
                    </a>
                </li>
                <li class="posts__list-item"> 
                    <a href="">
                        <span class="list-item__wrapper"><img src="../assets/img/tags 2.png" alt="">
                            <h2>Creating a Schema-Based Form System</h2>
                        </span>
                        <div> <time>Jan 31</time> </div>
                    </a>
                </li>
                <li class="posts__list-item"> 
                    <a href="">
                        <span class="list-item__wrapper"><img src="../assets/img/tags 3.png" alt="">
                            <h2>Creating a Schema-Based Form System</h2>
                        </span>
                        <div> <time>Jan 31</time> </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="newsletter">
        <div class="container">
            <div class="newsletter__header">
                <h1>Newsletter</h1>
            </div>
            <div class="flex-content">
                <p>Subscribe to the newsletter to get my latest content by email. Not on any set schedule. Unsubscribe anytime.</p>
                 <button class="btn btn--primary btn--md">Subscribe</button>
            </div>
            
        </div>
    </section>
</main>