---
layout: base.njk
---

<main>
    <article>
        <div class="container">
            <header>
                 <div class="container">
                    <h1>About Me</h1>
                    <p class="desc">
                        I am a full stack developer with a passion for creating beautiful and intuitive user experiences.
                    </p>
                </div>
            </header>
            <section class="container">
                {{ content| safe }}
            </section>
        </div>

    </article>
</main>

