---
layout: base.njk
---

<main>
    
<article class="post">
    <header>
        <div class="container">
            <div class="post__details">
                Written by <a href="/me">{{ author }}</a>
                on
                <time>
                     {{ time }}
                </time>
            </div>
            <h1>{{ title }}</h1>
            <div class="post__meta">
                <div class="tags">
                    <a href="/tags/new-year">life</a>
                    <a href="/tags/new-year">new year</a>
                    <a href="/tags/new-year">personl</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            {{ content | safe }}

        </div>
    </section>




</article>

</main>






