.blog {
  &__header {
    a {
      border-bottom: 2px solid $primary;
      font-weight: 600;

      &:hover {
        background-color: $primary;
        color: $clr-link-hover;
      }
    }

    text-align: center;

    h1 {
      @include heading(h1);
      color: $font-color;
    }

    .desc {
      font-size: $fs-h5;
      margin-top: $spacing-m;
      color: $font-color-gray;
    }
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-m;

  &__icon {
    flex: 0 0 50px;
    max-width: 30px;
    height: auto;
    cursor: pointer;
  }
}
