.footer{

    background-color: $clr-navbar;
    border-top: 1px solid $clr-border-light;
    padding: 3rem 0;

    section{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-m;
    }

    nav{
        display: flex;
        align-items: center;
        font-size: $fs-small;
        color: var(--font-color);
        
        &>a{
            font-weight: 400;
            margin: 0 $spacing-xs;
            color: $font-color-gray;
            padding: 0 0.5rem;
            line-height: 1.2;

            display: flex;
            align-items: center;

            &:hover{
                color: $clr-link;
            }

            img{
                max-height: $fs-h5;
                margin-left: $spacing-xs;

            }
        }
    }

}