
@font-face {
    font-family: 'gordita';
    src: url('../../assets/fonts/gorditalight-webfont.woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'gordita';
    src: url('../../assets/fonts/gorditaregular-webfont.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'gordita';
    src: url('../../assets/fonts/gorditamedium-webfont.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'gordita';
    src: url('../../assets/fonts/gorditabold-webfont.woff2');
    font-weight: 600;
}

