@use "sass:map";

$font-sizes:(
  h1: $fs-h1,
  h2: $fs-h2,
  h3: $fs-h3,
  h4: $fs-h4,
  h5: $fs-h5,
 
);

@mixin heading($size) {
        font-size: map.get($font-sizes, $size); 
        font-weight: 600;
}


    