.container{
    max-width: $page-width;
    margin: 0 auto;
    padding: 2rem;

    &--lg{
        max-width: $page-width-large;
    }

    @include md{
        padding: 1rem;
    }
}

.flex-content{
    display: flex;
    align-items: center;
}