@import './globals';

@mixin card-shadow{
  box-shadow: rgba($accent_color,0.13) 5px 9px 15px 0px;
}

body{
  font-family: Notulen;
}

header{
  background-color:$primary_color;
  color: $accent_color;
}
.container{
  max-width: 80vw;
  margin: 0 auto;
}

main{
  display: flex;
  justify-content:center;
}

article{
  max-width: 50%;
  font-family: $article_font;
  h3{
    font-size: $heading-meadium;
    margin: 1rem 0;
    font-weight: 800;
  }
  
  p{
    
    word-wrap: normal;
    font-size: $basic_text;
    color: $text_basic_color;
    font-weight: 600;
    margin: 1rem 0;
  }

  .desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .date{
      font-size: 1rem;
      color: $gray_color;
    }

    .tags{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1rem;
      // font-weight: 900;
      
      span{
        margin: 0 0.2rem;  
        border: 1px solid $gray_color;
        border-radius: 1rem;
        padding: 0.1rem 0.5rem;
        color: $text_basic_color;
        background-color: $blue_color;
       
      }
    }

  }


   

    table{
      
      
      overflow: hidden;
      border-collapse:collapse;
      border-spacing: 1rem;
      margin: 2rem auto;
      color: $foreground_color;
      font-weight: 800;
      

      thead{
        background-color:$secondary_color;
        
        
      }

      td{
        border: 1px solid $foreground_color;
        padding: 0.5rem;
        text-align: center;
        border-collapse:collapse;
      }
    
    }

 

        
  
  

  blockquote{
    border-left:4px solid $primary_color;
    padding: 1rem 2rem;
    color:$gray_color;
    font-size: $heading-small;
    font-weight: 600;
    @include card-shadow()
    
  }

  em{
    color: $text_basic_color;
    font-size: $basic_text;
  }

}

aside{
  // flex-flow: 20%;
}

.content{
  // flex-basis: 80%;
  margin: 0 auto;
}

.logo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2rem;

  h1{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
  }



 

}


